In [3]:
import pandas as pd
Catonsville = pd.read_csv("../data/Clean_yelp_Cville.csv")
Dundalk = pd.read_csv("../data/Clean_yelp_Dundalk.csv")
Catonsville.head()

,name,review_count,rating,coordinates,price,location
0,Atwater's - Catonsville,189,4.0,"{'latitude': 39.27111, 'longitude': -76.73442}",$,"{'address1': '815 Frederick Rd', 'address2': '..."
1,Caffe di Roma,53,4.0,"{'latitude': 39.2733157, 'longitude': -76.754301}",$,"{'address1': '1719 Edmondson Ave', 'address2':..."
2,Georgia Grace Cafe,106,4.5,"{'latitude': 39.26797, 'longitude': -76.79495}",$$,"{'address1': '8006 Main St', 'address2': '', '..."
3,Starbucks,47,3.5,"{'latitude': 39.283384, 'longitude': -76.754702}",$$,"{'address1': '856 N Rolling Rd', 'address2': N..."
4,Old Mill Cafe,32,4.5,"{'latitude': 39.2678, 'longitude': -76.79318}",$,"{'address1': '4 Frederick Rd', 'address2': Non..."

In [ ]:
RevCv = Catonsville.groupby('yearID')['CG'].mean()
CGpitch.plot(x = 'yearID', y = 'CG', color = 'green', linewidth = 3)